<template name="Debriefing1">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">
      <p class="survey-intro">Next, we would like to ask you some questions.</p>
      <!-- <p class="error">Please answer all of the questions.</p> -->

      <div class="form-group">
        <label>Are you a native speaker of English?*</label>
        <div><input name="is_native_speaker" type="radio" value="yes">Yes</div>
        <div><input name="is_native_speaker" type="radio" value="no">No</div>
      </div>

      <div class="form-group">
        <label>If yes, what age did you speak English fluently?</label>
        <input name="native_speaker_age" min="0" type="number" class="form-control short-answer">
      </div>

      <div class="form-group">
        <label>What is your current age?*</label>
        <input name="age" min="0" type="number" class="form-control short-answer">
      </div>

      <div class="form-group">
        <label>What is your gender?*</label>
        <div><input name="gender" type="radio" value="male">Male</div>
        <div><input name="gender" type="radio" value="female">Female</div>
        <div><input name="gender" type="radio" value="other">Other</div>
      </div>

      <a href='#'><button class="btn btn-default bottom-big go-to-debrief2">Continue</button></a>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</template>

<template name="Debriefing2">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">
      
      <div class="form-group">
        <label>Did anything strange or unusual happen during the experiment?*</label>
        <div>
          <textarea class="form-control" name="unusual" rows="2"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label>What do you think this experiment was about?*</label>
        <div>
          <textarea class="form-control" name="guess" rows="2"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label>Have you been in a study like this before? If yes, please describe.*</label>
        <div>
          <textarea class="form-control" name="similar_study" rows="2"></textarea>
        </div>
      </div>

      <a href='#'><button class="btn btn-default btn-primary btn-block finish-experiment">Submit</button></a>

    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</template>

<template name="Debriefing3">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">
      <p>
        <h1 class="center">Thank you for your participation!</h1>
      </p>
      <p class="center">Please enter the code below in your MTurk HIT to get credit!</p>
      <p class="center mturk-code">{{usercode}}</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</template>