<template name="Intro">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 intro-body consent-body">
      <h1>Instructions</h1>
      <p>In this task, you will be shown 2 letter strings: the first letter string will always be a word and signals when the second string will appear.  The second letter string will then appear following a row of Xs (XXXXXXXX).</p>

      <p>Your task is to decide whether the second letter string is a real word or a nonsense word as quickly as possible.  You should press the “z” key for a NONSENSE WORD, and the “/” key for a real WORD.</p>

      <p><strong>Z</strong> = nonsense word <br> <strong>/</strong> = real word</p>

      <p>Press space bar now to proceed to the experiment.</p>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</template>