<template name="WhyIntro">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">

      <div class="text-center text-bold">"Why Do We Do the Things We Do?"</div>

      <p>For everything we do, there always is a reason why we do it. Moreover, we often can trace the causes of our behavior back from broad life-goals that we have. For example, you are currently participating in this survey. Why are you doing this? Perhaps to earn additional income. Why are you trying to earn additional income? Perhaps to help pay your bills. Why pay your bills? Perhaps because you want to stay out of debt. Why stay out of debt? Maybe to make a better life for yourself and/or your family. And perhaps you wish to make a better life for yourself and family because you believe it will bring you happiness.</p>

      <p>Research suggests that engaging in thought exercise like that above, in which one thinks about how one's actions relate to one's ultimate life goals, can improve people’s performance on a variety of demanding tasks and can also improve more general life satisfaction.  In this experiment, we are testing such a technique. This thought exercise is intended to focus your attention on why you do the things you do.</p>

      <p>For this thought exercise, please consider the following activity: "Maintaining good personal relationships."</p>

      <a href="/whytask"><button class="btn btn-default">Continue</button></a>

    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

</template>

<template name="WhyTask">

<div class="container-fluid how-why-task-container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">

      <p>To show how the activity of “maintaining good personal relationships” can help you meet important life goals that you have, please fill in the 4 blank boxes below, in the series on the right. Beginning in the lowest blank box (the one just above the box labeled “maintain good personal relationships”), fill in each box by answering the question “Why do I engage in the behavior described in the immediately lower box?</p>

      <div class="diagram">
        <input class="form-control task-input" name="why4">
        <div class='arrow-container'>Why? <i class="fa fa-long-arrow-up"></i></div>
        <input class="form-control task-input" name="why3">
        <div class='arrow-container'>Why? <i class="fa fa-long-arrow-up"></i></div>
        <input class="form-control task-input" name="why2">
        <div class='arrow-container'>Why? <i class="fa fa-long-arrow-up"></i></div>
        <input class="form-control task-input" name="why1">
        <div class='arrow-container'>Why? <i class="fa fa-long-arrow-up"></i></div>
        <div class="task-begin">
          Maintain Good Personal Relationships
        </div>

        <a href="/targetintro1"><button class="btn btn-default task-submit">Continue</button></a>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

</template>

<template name="HowIntro">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">
      <div class="text-center text-bold">How Do We Do the Things We Do?</div>

      <p>For everything we do, there always is a process of how we do it. Moreover, we often can follow our broad life-goals down to our very specific behaviors. For example, like most people, you probably hope to find happiness in life. How can you do this? Perhaps by making a good life for yourself and/or your family. How can you do these things? Perhaps by being financially responsible and staying out of debt. How might you do that? Maybe by paying all of your bills on time. How could you make sure you pay all your bills on time? Maybe by trying to earn additional income. And you might be doing that by participating in this survey right now.</p>

      <p>Research suggests that engaging in thought exercise like that above, in which one thinks about how one’s ultimate life goals can be expressed through specific actions, can improve people’s performance on a variety of demanding tasks and can also improve more general life satisfaction. In this experiment, we are testing such a technique. This thought exercise is intended to focus your attention on how you do the things you do.</p>

      <p>For this thought exercise, please consider the following activity: "Maintaining good personal relationships."</p>

      <a href="/howtask"><button class="btn btn-default">Continue</button></a>

    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</template>

<template name="HowTask">
<div class="container-fluid how-why-task-container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">
      <p>To show how the goal of “Maintaining good personal relationships” can be met through specific activities, please fill in the 4 blank boxes below, in the series on the right.  Beginning in the highest blank box (the one just below the box labeled “Maintain good personal relationships”), fill in each box by answering the question “How I can meet the goal described in the immediately higher box?”</p>

      <div class="diagram">
        <div class="task-begin">
          Maintain Good Personal Relationships
        </div>
        <div class='arrow-container'>How? <i class="fa fa-long-arrow-down"></i></div>
        <input class="form-control task-input" name="how1">
        <div class='arrow-container'>How? <i class="fa fa-long-arrow-down"></i></div>
        <input class="form-control task-input" name="how2">
        <div class='arrow-container'>How? <i class="fa fa-long-arrow-down"></i></div>
        <input class="form-control task-input" name="how3">
        <div class='arrow-container'>How? <i class="fa fa-long-arrow-down"></i></div>
        <input class="form-control task-input" name="how4">

        <a href="/targetintro1"><button class="btn btn-default task-submit">Continue</button></a>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</template>